@import '../../../public/style/common.css';

.hn-plus-button-wrapper {
    align-items: center;
    column-gap: 0.5em;
    display: flex;
    font-size: 0.8em;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 0.5em;
}

.hn-plus-stallion-score {
    float: right;
    margin-left: 0.5em;
}

.hn-plus-stallion-score-tooltip {
    left: 100%;
    right: unset;
    transform: translate(0.75em, -50%);
}

.hn-plus-stallion-score-tooltip:after {
    border: 0.7em solid transparent;
    border-right: 1em solid var(--hn-plus-theme-primary, #23395b);
    left: unset;
    right: 100%;
}

table.dataTable td:has(.hn-plus-stallion-score) {
    white-space: normal;
}