:root {
    /* #527d99
    #c69e57
    #216187 */
    --hn-plus-theme-primary: #23395b;
    --hn-plus-theme-secondary: #406e8e;
    --hn-plus-theme-tertiary: #8ea8c3;
    --hn-plus-theme-quarternary: #cbf7ed;
    --hn-plus-theme-quinary: #f4f5ff;
    --hn-plus-theme-text: #161935;

    --hn-plus-logo-color: #ffffff;
}