@import '../../../public/style/theme.css';
@import '../../../public/style/common.css';
@import '../../../public/style/stallion-score.css';

.hn-plus-button-wrapper {
    align-items: center;
    column-gap: 0.5em;
    display: flex;
    float: left;
    font-size: 0.8em;
}

.hn-plus-stallion-score {
    float: right;
    margin-left: 0.5em;
}

.hn-plus-stallion-score-tooltip {
    left: 100%;
    right: unset;
    transform: translate(0.75em, -50%);
}

.hn-plus-stallion-score-tooltip:after {
    border: 0.7em solid transparent;
    border-right: 1em solid var(--hn-plus-theme-primary, #23395b);
    left: unset;
    right: 100%;
}