@import '../../../public/style/theme.css';
@import '../../../public/style/common.css';

.hn-plus-button-wrapper {
    display: flex;
    gap: 0.2em;
    justify-content: flex-end;
    width: 100%;
}

.hn-plus-button {
    align-items: center !important;
    background: color-mix(in hsl, var(--hn-plus-theme-primary) 90%, #ffffff) !important;
    border: revert;
    border-radius: revert;
    color: #ffffff !important;
    column-gap: revert;
    cursor: revert;
    display: inline-flex !important;
    justify-content: center !important;
    padding: revert;
}

.hn-plus-button:is(:hover, :focus) {
    background-color: color-mix(in hsl, var(--hn-plus-theme-primary) 87%, #ffffff) !important;
}

.hn-plus-button:active {
    background-color: color-mix(in hsl, var(--hn-plus-theme-primary) 93%, #ffffff) !important;
}

.hn-plus-button::before {
    content: '';
    display: none;
}

.hn-plus-button .material-symbols-outlined {
    font-size: 1em;
}

.hn-plus-copy-button {
    margin-left: 0.9em;
    margin-right: 0.9em;
}

.horseField.hn-plus-copy-source {
    background: color-mix(in hsl, var(--hn-plus-theme-secondary) 10%, #ffffff);
    margin-bottom: 1.5625em;
    outline: thin solid var(--hn-plus-theme-secondary);
}

.horseField.hn-plus-copy-source> :has(hr) {
    margin-top: -100%;
    transform: translateY(100%);
}